<h1>Categories Page</h1>
<ul>
<% @categories.each do |category| %>
	<li><a href="/categories/<%= category["id"]%>"><%= category["name"] %></a> &mdash; <%= category["description"] %></li>
<% end %>
</ul>
