<h1>Categories</h1>
<% @categories.each do |category| %>
	<div class="entry">
		<h2><a href="/categories/<%= category["id"]%>"><%= category["name"] %></a></h2>
		<p><%= category["description"] %></p></div>
<% end %>
