<% @category.each do |category| %>
	<h1><%= category["name"] %></h1>
	<p><%= category["description"] %></p>
<% end %>
<hr>
<h1>Articles within Category</h1>
<% @cat_articles.each do |article| %>
	<div class="entry">
		<h2><a href="/articles/<%= article["article_id"] %>"><%= article["headline"] %></a></h2>
	</div>
<% end %>

