<h1>Edit Page</h1>

<form method="POST" action="/articles/<%= @articles.first["art_id"] %>">
	<input type="hidden" name="_method" value="patch">
	<input class="u-full-width" type="text" name="headline" value="<%= @articles.first["headline"]%>">
	<input class="u-full-width" type="text" name="summary" value="<%= @articles.first["summary"]%>">
	<textarea class="u-full-width" name="body"><%= @articles.first["body"] %></textarea>
	<input class="button button-primary" type="submit" value="Edit">
</form>



