<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Henrietta Wiki</title>
	<link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="images/favicon.png">
</head>
<body>
  <div class="header cf">
  <img class="logo" src="/images/logo.png">
  <% if current_user %>
    <form class="logout" action="/users/login" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input class="button" type="submit" value="Log Out">
    </form>
    <p class="login-msg">You are Logged In</p>
  <% else %>
    <p class="login-msg">You are Not Logged In</p>
  <% end %>
  </div>
  <div class="wrapper">
    <% if current_user %>
      <div class="sidebar">
        <ul>
          <li><a href="/users/<%= current_user %>">Home</a></li>
          <li><a href="/articles">Articles</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/authors">Authors</a></li>
        </ul>
        <a class="button button-primary" href="/create">Create a New Article</a>
      </div>
    <% end %>
    <div class="main">
      <%= yield %>
    </div>
  </div>

  <!-- Hot Air Balloon by Arthur Shlain from the Noun Project -->

</body>
</html>