<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Henrietta Wiki</title>
	<link rel="stylesheet" href="stylesheets/normalize.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="scripts/jquery-2.1.4.js"></script>
</head>
<body>

  <% if current_user %>
    You are Logged In
    <form action="/users/login" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Log Out">
    </form>
  <% else %>
    You are Not Logged In
  <% end %>


	<%= yield %>
	

<!-- <script src="main.js"></script> -->
</body>
</html>