<div class="login-view">
<div class="login-form">
<h1><strong>Air-venturous</strong> Wiki</h1>
<hr>
<h4>Please Login</h4>
<p style="color: red;"><%= @message %></p>
<form action="/users/login" method="POST">
  <input type="text" name="email" placeholder="Your Email">
  <input type="password" name="password" placeholder="Your Password">
  <input class="button button-primary" type="submit" value="Log In">
</form>
<hr>
</div>
</div>

